<div id="image-track" data-mouse-down-at="0" data-prev-percentage="0">
    <img src="https://images.unsplash.com/photo-1583841519271-afa6b23c5f77?q=80&w=1933&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        draggable="false" class="image">
    <img src="https://images.unsplash.com/photo-1677426309822-b4ddc9203176?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        draggable="false" class="image">
    <img src="https://images.unsplash.com/photo-1653050390898-b56a2ce70b53?q=80&w=1820&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        draggable="false" class="image">
    <img src="https://images.unsplash.com/photo-1514895843782-ad7addcb3a6d?q=80&w=2062&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        draggable="false" class="image">
    <img src="https://images.unsplash.com/photo-1579957023433-7fad5b83efae?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        draggable="false" class="image">
    <img src="https://images.unsplash.com/photo-1624685863152-4fa71a70d0c1?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        draggable="false" class="image">
</div>